html, body {
  width: 300px;
}

.hidden {
  display: none;
}

.button {
  margin: 5% 0.75%;
  padding: 6px;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
}

form {
  margin: 6% auto;
  width: 90%;
  font-size:1.25em;
}

input {
  display:block;
  margin:3% 1%;
  width:90%;
  padding:2%;
}

label {
  padding: 3% 2%;
  color:#a02108;
}
